*{
    margin: 0;
    padding: 0;
  }
  *,
  *:before,
  *::after{
    box-sizing:inherit;
  }
  
  html{
    box-sizing:border-box;
    font-size:62.5%;
  }
  
  
  body{
    font-family: 'Nunito Sans', sans-serif;
    font-size: 2rem;
  }

/* App */
.App{
    width: 90%;
    margin: auto;
    background-color: darkgray;
}

/* Header */

.Header{
    display: flex;
    border: 2px solid red;
    justify-content: space-between;
    /* padding: 3rem 9rem 3rem 9rem; */
    padding:3rem;
    font-weight: 600;
    align-items: center;
    color: gray;
    /* width: 100%; */
}

.headerContent{
    margin: auto;
    display: flex;
    width: 93.5%;
    border: 2px solid red;
    justify-content: space-between;
    align-items: center;
}


.Heading{
    color: black;
    font-weight: 800;
    font-size: 3rem;
}


/* Filter box */

.filterbox{
    display: flex;
    border: 2px solid cornflowerblue;
    justify-content: space-between;
    margin-top: 7rem;
    /* padding: 3rem; */
    align-items: center;
}

input{
    padding: 2rem;
    width: 30%;
    font-size: 2rem;
    /* border: none; */
}

.filter{
    border: 2px solid black;
    padding: 1rem;
}


/* country container */


.countryContainer{
    padding: 3rem;
    padding-top: 10rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    background-color: cadetblue;
    height: max-content;
}
ul{
    list-style: none;
}

.country{
    display: flex;
    flex-direction: column;
    border: 2px solid black;
    width: 24%;
    height: 45rem;
    background-color: cornsilk;
    /* padding: 2rem; */
    margin-bottom: 10rem;
    border-radius: 9px;
}

.country img{
    background-color: burlywood;
    height: 25rem;
    border-radius: 9px 9px 0 0 ;
}

.countryInfo{
    padding: 2rem;
}