.container{
    /* background-color: burlywood; */
    width: 92%;
    margin: auto;
    /* background-color: darkgray; */
    overflow-y: hidden;
    margin-top: 5rem;
}

.CountryInfo{
    width: 100%;
    margin-top: 7rem;
    /* border: 2px solid red; */
    display: flex;
    justify-content: space-between;
}

img{
    width: 40%;
    box-shadow: 0 0 15px #ccc;
    margin-left: 1rem;
    margin-bottom: 1rem;
    /* border: 1px solid black; */
}

.info{
    /* background-color: yellow; */
    width: 50%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.backBtn{
    margin-top: 1rem;
    margin-left: 1rem;
    background-color: white;
    display: flex;
    align-items: center;
    padding: 1.4rem 4rem;
    font-size: 2rem;
    text-align: center;
    border: none;
    border-radius: 5px;
    /* box-shadow: 0px 5px 19px -19px rgb(0, 0, 0); */
    /* box-shadow: 1px 1px 14px 2px grey; */
    -moz-box-shadow: 0 0 3px #ccc;
    -webkit-box-shadow: 0 0 3px #ccc;
    box-shadow: 0 0 15px #ccc;
    cursor: pointer;
}

button span{
    padding-left: .6rem;
}

.infoList{
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    height: 40%;
}

ul span{
    font-weight: 900;
}

a{
    text-decoration: none;
}

ul li{
    margin-top: .7rem;
}


.borderCountryContainer{
    display: flex;
    align-items: center;
    margin-top: 9rem;
}

.border{
    display: flex;
    flex-wrap: wrap;
}

.borderCountry{
    margin-top: 1rem;
    margin-left: 1rem;
    background-color: white;
    display: flex;
    align-items: center;
    padding: .4rem 4rem;
    font-size: 2rem;
    text-align: center;
    border: none;
    border-radius: 5px;
    /* box-shadow: 0px 5px 19px -19px rgb(0, 0, 0); */
    /* box-shadow: 1px 1px 14px 2px grey; */
    -moz-box-shadow: 0 0 3px #ccc;
    -webkit-box-shadow: 0 0 3px #ccc;
    box-shadow: 0 0 5px #ccc;
}